.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-size: 0.85rem;
  font-family: var(--font-mono);
}

.button {
  padding: 0.6rem 1rem;
  border: 0;
  border-radius: 0.2rem;
  color: white;
  background: cadetblue;
  cursor: pointer;
}

.button:hover {
  background: #4d8b8d;
}
